.messages_page {
    padding-left: 45px;
    padding-right: 45px;
}

.message_container {
    cursor: pointer;
    display: flex;
    padding-top: 35px;
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.message_container:active {
    opacity: 0.5;
}

.message_container.seen:active,
.message_container.seen:active > .image {
    color: inherit;
    opacity: 1;
}

.text_container {
    padding-left: 20px;
    width: calc(100% - 100px);
}

.name_date {
    display: flex;
    justify-content: space-between;
}

.name {
    padding-top: 12px;
    font-size: 18px;
    position: relative;

}

.date {
    font-size: 12px;
    color: var(--light-grey-color);
}

.seen {
    color: var(--light-grey-color);
}

.seen > .image {
    opacity: 0.5;
}

.user_message {
    padding-top: 8px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 46px;
    width: 100%;
    white-space: nowrap;
}

.image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: top;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
