.messages_page {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: auto;
}

.title {
  /* example */
  /* color: var(--black-color); */
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}
