.landing_page {
  /* example */
  width: 100%;
}

.landing_page_padding {
  padding: 45px;
}

.title {
  position: relative;
  width: 234px;
  height: 63px;
  left: calc(50% - 234px/2 - 1px);
  margin-top: 50%;

  font-family: Circular Pro;
  font-size: 50px;
  line-height: 63px;
  text-align: center;

  font-weight: 800;

  color: #6F82A5;


}

.spacer{
    margin-top:50px;
}

.button{
  position: relative;
  width: 255px;
  height: 60px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;

  border-radius: 3px;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button:active {
  opacity: 0.5;
}

.bottom{
  position: relative;
  bottom: 0;

  margin-top: 100px;

}

.blue_back{
  background: var(--blue-color);
}

.grey_back{
  background: var(--light-blue-color);
}

.centered{
  /* position: relative;
  top: 28.33%;
  bottom: 30%;
  left: 36.08%;
  right: 35.69%;



  align: center;
  vertical-align: middle; */
  text-align: center;
  padding: 17px;
}

.text{
  font-family: Circular Pro;
  font-size: 20px;
  line-height: 25px;
  background: none;
}

.hint {
  display: block;
  margin-top: 10px;
}

.next_button {
  width: 100%;
  cursor: pointer;
}

.create_acc{
  font-family: Circular Pro;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  /* identical to box height */

  text-align: center;

  /* color: #6F82A5; */
  color: var(--blue-color);
}

.description{
  margin:auto;
  margin-top:47px;
  margin-bottom: -10px;
  text-align: center;
  width:100%;
}

.forgot{
  text-align:center;
  padding-top: 21px;
}

.white_word{
  color: var(--white-color)
}

.black_word{
  color: var(--black-color)
}

.grey_word{
  color: var(--light-grey-color)
}

.dark_grey_word{
  color: var(--grey-color)
}

.back_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.back_container:active {
  opacity: 0.5;
}

.back{
  /* position: relative;
  width: 23px;
  height: 23px;
  left: 24px;
  top: 28px; */
}

.back_text{
  /* position: relative;
  width: 55px;
  height: 25px;
  left: 64px;

  text-align: center;
  text-transform: uppercase;

  color: #616161; */
  font-weight: 600;
  font-size: 20px;
  margin-left: 22px;
}

.textbox{

  padding-left: calc(50% - 51px/2 - 115px);
  margin-top: 71px;
}

input{
  margin-top: 20px;
  border: 0;
  width: 281px;
  border-bottom: 2px solid #A9A9A9;
}

.hover{
  transition: color 0.1s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.hover:not(.active):active {
  color: var(--blue-color);
}
