.navbar {
  background-color: var(--white-color);
  border: 1px solid var(--light-grey-color);
  display: flex;
  justify-content: space-around;
  position: fixed;
  height: 70px;
  width: 100%;
  max-width: 500px;
  left: 50%;
  bottom: 0;
  padding: 12px;
  transform: translateX(-50%);
}

.item {
  color: var(--grey-color);
  display: inline-block;
  font-size: 12px;
  text-align: center;
}

.item_icon {
  margin: auto;
  width: 25px;
  height: 25px;
}

.item_icon > * {
  stroke: var(--grey-color);
}

.hover,
.hover > .item_icon > * {
  transition: color 0.1s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: var(--blue-color);
}

.active > .item_icon > * {
  stroke: var(--blue-color);
}

.hover:not(.active):active {
  color: var(--blue-color);
}

.hover:not(.active):active > .item_icon > * {
  stroke: var(--blue-color);
}

.hover.active:active {
  color: var(--grey-color);
}

.hover.active:active > .item_icon > * {
  stroke: var(--grey-color);
}