.messages_page {
    height: calc(100vh - 70px);
}

.back_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.back_button:active {
    opacity: 0.5;
}

.back_text {
    font-weight: 600;
    font-size: 20px;
    margin-left: 22px;
}

.sender {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 20px;
}

.name.you {
    text-align: right;
}

.name {
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.message_text {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 40px;
}

.message_text.you {
    margin-left: auto;
    margin-right: 0;
    width: max-content;
    max-width: calc(100% - 40px);
    overflow-wrap: break-word;
}

.chat_wrapper {
    padding: 45px;
    overflow-y: auto;
    height: calc(100% - 63px);
}

.text_form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    height: 63px;
    width: 100%;
    max-width: 500px;
    border-top: 1px solid var(--light-grey-color);
}

input::placeholder {
    font-size: 16px;
    color: var(--light-grey-color);
}

.text_active {
    font-size: 16px;
    border: none;
    margin: 0;
    width: 100%;
}

.submit_button {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.submit_button:active {
    opacity: 0.5;
}