.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 1000;
}

.dark_bg {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark_bg.open {
  opacity: 0.5;
  pointer-events: auto;
}

.content {
  background-color: var(--white-color);
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
}

.content.open {
  opacity: 1;
  pointer-events: auto;
}
