.search_page {
  /* example */
  width: 100%;
}

.modal{
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  min-width: 300px;
}

.close{
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  float: right;
  margin: 10px;
  transform: rotate(-45deg);
  z-index: 1;
}
.close > * {
  stroke: var(--black-color);
  stroke-width: 0.75px;
}


.content{
  padding: 40px;
}
.welcome{
  position: relative;
  width: 140px;
  height: 38px;


  font-family: Circular Pro;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;

  color: #616161;
}

.description{
  font-family: Circular Pro;
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #616161;
}

.blue_back{
  color: #FFFFFF !important;
  background: var(--blue-color);
}

.white_back{
  color: var(--blue-color);
  background: var(--white-color);
}
.title{
  position: relative;
  margin-left: auto;
  margin-right:auto;
  margin-top:96px;
  height: 38px;


  font-family: Circular Pro;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;

  color: #6F82A5;
}
.modal_button{
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  width: 100%;
  margin-top: 20px;

  font-family: Circular Pro;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  border: 2px solid #6F82A5;
  box-sizing: border-box;
  border-radius: 3px;
}

.search_container{

  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}

.search_bar {
  border: 0;
  padding: 10px 5px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.search_bar::placeholder {
  font-weight: 400;
  font-size: 18px;
}

.icon{
  color:#A9A9A9;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.icon > * {
  stroke: var(--light-grey-color);
}

.text_form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    height: 63px;
    width: 100%;
    max-width: 500px;
    border-top: 1px solid var(--light-grey-color);
}

.react-select__input > input {
  margin-top:0px;
  font-family: Circular Pro;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
}
